<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MedicalAttachmentMapper">
    
    <resultMap type="MedicalAttachment" id="MedicalAttachmentResult">
        <result property="attachmentId"    column="attachment_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="originalName"    column="original_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileType"    column="file_type"    />
        <result property="attachmentType"    column="attachment_type"    />
        <result property="description"    column="description"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="uploadBy"    column="upload_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMedicalAttachmentVo">
        select attachment_id, record_id, file_name, original_name, file_path, file_size, file_type, attachment_type, description, upload_time, upload_by, del_flag, create_time, update_by, update_time, remark from medical_attachment
    </sql>

    <select id="selectMedicalAttachmentList" parameterType="MedicalAttachment" resultMap="MedicalAttachmentResult">
        <include refid="selectMedicalAttachmentVo"/>
        <where>  
            <if test="recordId != null "> and record_id = #{recordId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="originalName != null  and originalName != ''"> and original_name like concat('%', #{originalName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="attachmentType != null  and attachmentType != ''"> and attachment_type = #{attachmentType}</if>
            <if test="uploadBy != null  and uploadBy != ''"> and upload_by = #{uploadBy}</if>
            and del_flag = '0'
        </where>
        order by create_time desc
    </select>
    
    <select id="selectMedicalAttachmentByAttachmentId" parameterType="Long" resultMap="MedicalAttachmentResult">
        <include refid="selectMedicalAttachmentVo"/>
        where attachment_id = #{attachmentId} and del_flag = '0'
    </select>

    <select id="selectAttachmentsByRecordId" parameterType="Long" resultMap="MedicalAttachmentResult">
        <include refid="selectMedicalAttachmentVo"/>
        where record_id = #{recordId} and del_flag = '0'
        order by create_time desc
    </select>
        
    <insert id="insertMedicalAttachment" parameterType="MedicalAttachment" useGeneratedKeys="true" keyProperty="attachmentId">
        insert into medical_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="originalName != null and originalName != ''">original_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="attachmentType != null and attachmentType != ''">attachment_type,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="uploadBy != null and uploadBy != ''">upload_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="originalName != null and originalName != ''">#{originalName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="attachmentType != null and attachmentType != ''">#{attachmentType},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
            <if test="uploadBy != null and uploadBy != ''">#{uploadBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMedicalAttachment" parameterType="MedicalAttachment">
        update medical_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="originalName != null and originalName != ''">original_name = #{originalName},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="attachmentType != null and attachmentType != ''">attachment_type = #{attachmentType},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="uploadBy != null and uploadBy != ''">upload_by = #{uploadBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where attachment_id = #{attachmentId}
    </update>

    <delete id="deleteMedicalAttachmentByAttachmentId" parameterType="Long">
        update medical_attachment set del_flag = '2' where attachment_id = #{attachmentId}
    </delete>

    <delete id="deleteMedicalAttachmentByAttachmentIds" parameterType="String">
        update medical_attachment set del_flag = '2' where attachment_id in 
        <foreach item="attachmentId" collection="array" open="(" separator="," close=")">
            #{attachmentId}
        </foreach>
    </delete>

    <delete id="deleteAttachmentsByRecordId" parameterType="Long">
        update medical_attachment set del_flag = '2' where record_id = #{recordId}
    </delete>
</mapper> 